<?xml version='1.0' encoding='utf-8'?>
<widget id="com.revolunet.friendguess" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FriendGuess</name>
    <description>
        Little game made with Angular + ngCordova + mocks demo
    </description>
    <author email="julien@revolunet.com" href="http://github.com/revolunet">
        Julien Bouquillon
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
