<html>
<head>
<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-route/angular-route.js"></script>
<script src="./bower_components/ngCordova/dist/ng-cordova.js"></script>
<script src="./ng-cordova-mocks.js"></script>
<script src="./cordova.js"></script>
<link href="./bower_components/angular-carousel/dist/angular-carousel.css" rel="stylesheet" type="text/css">
<style>
html, body {
    margin: 0;
    padding:0;
}
.part-3 {
    box-sizing: border-box;
    display: inline-block;
    border:1px solid white;
    width:33.33%;
    height:33.33%;
    position:relative;
}
.part-4 {
    box-sizing: border-box;
    display: inline-block;
    border:1px solid #333;
    width:25%;
    height:25%;
    position:relative;
}
ul[rn-carousel] {
    margin:0;
    width:100%;
    height:100%;
}
.thumb {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
  
    background-position: center center;
    background-size: cover;
    transform: rotateY(0deg);
    backface-visibility:hidden;
     -webkit-transition: all 0.1s ease-in;
}
.thumb .bg {
    width:100%;
    height:100%;
    background-position: center center;
    background-size: cover;
}
.thumb.ng-hide {
    transform: rotateY(180deg);
}
.thumb.ng-hide-active {
    transform: rotateY(-180deg);
}
.thumb.ng-show-add {
    transform: rotateY(0deg);
}

.loader {
    margin-top:30%;
    text-align:center;
}


</style>
</head>
<body>
<div ng-controller="TestCtrl">

    <div ng-if="parts.length == 0" class="loader">
        Fetching contacts...
    </div>
    <div ng-repeat="part in parts" class="part-{{ byLine }}" >
        <span ng-init="index=0" id="tile-{{ $index }}">
            <div
                ng-repeat="contact in part"
                class="thumb"
                ng-style="{ 'background-image': 'url(' + contact.photo + ')' }"
                ng-show="$parent.index==$index"
                ng-click="$parent.index=increment(index, part.length)">
            </div>
        </span>
    </div>
</div>
</boy>
<script>

    angular.module('ngCordovaBrowserMocks', ['ngCordovaMocks'])

    .run(function($rootScope, $http, $cordovaContacts) {
        $rootScope.mocksLoaded = $http.get('mocks-contacts.json').then(function(response) {
            $cordovaContacts.contacts = response.data;
        });
    });

    var dependencies = ['ngCordova', 'ngRoute', 'ngAnimate' ];

    if (!window.cordova) {
        dependencies.push('ngCordovaBrowserMocks');
    } else {
        document.addEventListener("deviceready", function() {
            angular.bootstrap(document, ['Test']);
        }, false);
    }

    angular.module('Test', dependencies)

    .service('ImageFetcher', function($q, $window, $document) {

        return function(url) {
            var deffered = $q.defer(),
                imageObj = new Image();

            imageObj.onload = function() {
                deffered.resolve(imageObj);
            };
            imageObj.onerror = function() {
                deffered.reject(imageObj);
            };

            imageObj.src = url;

            return deffered.promise;
        }

    })

    .service('ImageSplitter', function($q, $window, $document) {
        // stretch image to screen size and build tiles
        return function(image, nbTiles) {
            var canvas = $document[0].createElement('canvas'),
                ctx = canvas.getContext('2d'),
                nbTiles = nbTiles || 4,
                imageWidth = 128,
                winWidth = $window.innerWidth,
                winHeight = $window.innerHeight,
                tileWidth = winWidth / nbTiles,
                tileHeight = winHeight / nbTiles;

                var parts = new Array();
                var imageData, tmpCanvas, tmpCtx;
                ctx.canvas.width  = $window.innerWidth;
                ctx.canvas.height = $window.innerHeight;
                ctx.drawImage(image, 0, 0, $window.innerWidth, $window.innerHeight);
                for(var i=0; i<nbTiles; i++)
                {
                  for(var j=0; j<nbTiles; j++)
                  {
                    // extract tile data as base64
                    imageData = ctx.getImageData(j*tileWidth, i*tileHeight, tileWidth, tileHeight);
                    tmpCanvas = $document[0].createElement('canvas');
                    tmpCtx = tmpCanvas.getContext('2d');
                    tmpCtx.canvas.width = tileWidth;
                    tmpCtx.canvas.height = tileHeight;
                    tmpCtx.putImageData(imageData, 0, 0);
                    parts.push(tmpCanvas.toDataURL('image/png'));
                  }
                }
            return $q.when(parts);
        }
    })

    .service('ContactFinder', function($q, ImageFetcher) {
        // fetch the next contact and ensure we have a valid photo
        return function(contact) {
            //var contact = contacts[0];
            // check valid photo
            if (!contact.displayName) {
                return $q.reject(contact);
            }
            return ImageFetcher(contact.photos[0].value).then(function(photo) {
                contact.photo = photo;
                return contact;
            }).catch(function() {
                return $q.reject(contact);
            });
        }

    })

    .service('ContactsFinder', function($q, $cordovaContacts, $filter, ContactFinder) {
        // fetch n valid contacts
        function getValidContacts(contacts, results, max, index) {
            index = index || 0;
            //console.log('getValidContacts', arguments);
            return ContactFinder(results[index]).then(function(contact) {
                contacts.push(contact);
                return contact;
            }).catch(function(contact) {
                return false;
            }).then(function(contact) {
                index++;
                //results.splice(results.indexOf(contact), 1);
                if (contacts.length < max) {
                    return getValidContacts(contacts, results, max, index);
                }
                return contacts;
            });
        }

        return function(nbContacts) {
            var contacts = [];
            return $cordovaContacts.find({
                fields: ['*']
            }).then(function(results) {
                console.log(results);
                results = $filter('shuffle')(results);
                return getValidContacts(contacts, results, nbContacts)
            });
        }

    })

    .filter('shuffle', function() {
        return function(o) {
            //+ Jonas Raoni Soares Silva
            //@ http://jsfromhell.com/array/shuffle [v1.0]
            for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
            return o;
        }
    })

    .controller('TestCtrl', function($scope, $q, $timeout, $window, $http, $filter, ContactsFinder, ImageSplitter) {
        var nbPictures = 5,
            byLine = 3,
            validContacts,
            i;

        $scope.byLine = byLine;

        Array.prototype.AllValuesSame = function(){
            if(this.length > 0) {
                for(var i = 1; i < this.length; i++)
                {
                    if(this[i] !== this[0])
                        return false;
                }
            } 
            return true;
        }

        function checkStatus() {
            var ids = [];
            var same = true;
            for (i = 0; i < byLine * byLine; i++) {
                var tile = document.querySelector('#tile-' + i);
                var scope = angular.element(tile).scope();
                var contactId = scope.part[scope.index].contact.id;
                ids.push(contactId);
            }
            if (ids.AllValuesSame()) {
                var contact = validContacts[contactId];
                $timeout(function() {
                    var sure = $window.confirm('Call ' + contact.displayName + ' now ?');
                    if (sure) {
                        // dummy    
                    }
                    refreshContacts();
                }, 500);
                

                
            }
        }

        $scope.increment = function(index, max) {
            index++;
            if (index>=max) {
                index = 0;
            }
            $timeout(function() {
                checkStatus();
            }, 0)
            return index;
        }

        function refreshContacts() {
            $scope.parts = [];

            // fetch valid contacts
            ContactsFinder(nbPictures).then(function(contacts) {

                validContacts = {};

                $q.all(contacts.map(function(contact) {
                    // split images for each contact
                    validContacts[contact.id] = contact;
                    return ImageSplitter(contact.photo, byLine).then(function(tiles) {
                        contact.tiles = tiles;
                        return contact;
                    });
                })).then(function(contacts) {
                    // arrange image parts by cell
                    var parts = [];
                    for (i = 0; i < byLine * byLine; i++) {
                        parts[i] = [];
                    }
                    for (i = 0; i < parts.length; i++) {
                        for (j = 0; j < contacts.length; j++) {
                            parts[i].push({
                                photo: contacts[j].tiles[i],
                                contact: contacts[j]
                            });
                        }
                    };
                    return parts;
                }).then(function(parts) {
                    return parts.map($filter('shuffle'));
                }).then(function(parts) {
                    $scope.parts = parts;
                });
            });
        }

        if ($scope.mocksLoaded!==undefined) {
            $scope.mocksLoaded.then(function() {
                refreshContacts();
            })
        } else {
            refreshContacts();
        }
        
    });

    if (!window.cordova) {
        angular.bootstrap(document, ['Test']);
    }

</script>
</html>
