<html>
    <head>
        <title>Friend Guess</title>
        <script src="./bower_components/angular/angular.js"></script>
        <script src="./bower_components/angular-animate/angular-animate.js"></script>
        <script src="./bower_components/angular-route/angular-route.js"></script>
        <script src="./bower_components/ngCordova/dist/ng-cordova.js"></script>
        <script src="./ng-cordova-mocks.js"></script>
        <script src="./cordova.js"></script>
        <script src="./js/FriendGuess.ImageFetcher.js"></script>
        <script src="./js/FriendGuess.ImageSplitter.js"></script>
        <script src="./js/FriendGuess.ContactsFetcher.js"></script>
        <script src="./js/mocks.js"></script>
        <script src="./js/app.js"></script>
        <link href="./bower_components/angular-carousel/dist/angular-carousel.css" rel="stylesheet" type="text/css">
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div ng-controller="FriendGuessCtrl">

            <div ng-if="parts.length == 0" class="loader">
                Fetching contacts...
            </div>

            <div ng-repeat="part in parts" class="part-{{ byLine }}" >
                <span ng-init="index=0" id="tile-{{ $index }}">
                    <div
                        ng-repeat="contact in part"
                        class="thumb"
                        ng-style="{ 'background-image': 'url(' + contact.photo + ')' }"
                        ng-show="$parent.index==$index"
                        ng-click="$parent.index=increment(index, part.length)">
                    </div>
                </span>
            </div>

        </div>
    </body>
    <script src="./app.js"></script>
</html>
